<div class="container" id="list_tasks">
    <div class="menu_tasks">
        <ul>
            <li data-container="today_tasks"><i class="fas fa-calendar-day"></i><span>Tarefas de Hoje</span></li>
            <li data-container="tomorrow_tasks"><i class="fas fa-calendar-star"></i><span>Tarefas de Amanhã</span></li>
            <li data-container="pendding_tasks"><i class="fas fa-calendar-exclamation"></i><span>Tarefas Pendentes</span></li>
            <li data-container="completed_tasks"><i class="fas fa-calendar-check"></i><span>Tarefas de Concluídas</span></li>
            <li data-container="all_tasks"><i class="fas fa-calendar-alt"></i><span>Todas as Tarefas</span></li>
        </ul>
    </div>
    <div class="main_task_content">
        <div class="today_tasks task_container" data-display="hidden"><h1>Tarefas de Hoje</h1></div>
        <div class="tomorrow_tasks task_container" data-display="hidden"><h1>Tarefas de Amanhã</h1></div>
        <div class="pendding_tasks task_container" data-display="hidden"><h1>Tarefas Pendentes</h1></div>
        <div class="completed_tasks task_container" data-display="hidden"><h1>Tarefas Concluidas</h1></div>
        <div class="all_tasks task_container" data-display="hidden"><h1>Todas as Tarefas</h1></div>
    </div>
    
</div>